<%- contentFor("head") %>
<title>Contact</title>
<%- contentFor("body") %>
<article class="prose max-w-none">
  <div class="pb-4">
    <h1>Contact</h1>
    <ul>
      <li>
        <strong>Email</strong>:
        <div class="tooltip tooltip-top" data-tip="Public email">
          <a href="mailto:contact@ciolek.co.uk">contact@ciolek.co.uk</a>
        </div>
        &lt;<a href="/resources/keys/contact.asc">PGP key</a>&gt;
      </li>
      <li>
        <strong>Mobile</strong>:
        <div class="tooltip tooltip-bottom" data-tip="Public phone">
          <a href="tel:+447599857384">+44 7599 857 384</a>
        </div>
      </li>
    </ul>
    <h2>University</h2>
    <div class="not-prose alert alert-warning">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
        />
      </svg>
      <span>
        I ask that these details be used purely for academic purposes. Other
        queries will <strong>not</strong> get a response.
      </span>
    </div>
    <ul>
      <li>
        <strong>Email</strong>:
        <div class="tooltip tooltip-top" data-tip="University email">
          <a href="mailto:grc22@aber.ac.uk">grc22@aber.ac.uk</a>
        </div>
        &lt;<a href="/resources/keys/grc22.asc">PGP key</a>&gt;
      </li>
    </ul>
  </div>
  <div class="divider"></div>
  <p>
    I check the email inbox regularly! Please do reach out by email before
    calling; this is a dedicated phone number that I don't check often and avoid
    unsolicited calls from.
  </p>
  <p>
    The university email is provided purely for convenience, and with permission
    from the university. Please use the public email for any questions not
    related to university work.
  </p>
  <p>
    Using PGP? Please make sure you attach your public key if you'd like an
    encrypted response!
  </p>
</article>
