<li class="list-row">
  <a href="<%- href %> ">
    <div>
      <div class="text-xl font-bold"><%- title %></div>
      <div class="text-xs uppercase font-semibold opacity-60"><%- date %></div>
    </div>
    <p class="list-col-wrap text-sm opacity-80"><%- desc %></p>
  </a>
</li>
