<!doctype html>
<html lang="en">
  <head>
    <title>Error <%= errorCode %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("header") -%>
    <div class="px-8">
      <h1 class="text-3xl font-bold">Error <%= errorCode %></h1>
      <p><%= msg %></p>
      <p><a href="/">Back to civilisation</a>.</p>
    </div>
  </body>
</html>
