<footer
  class="footer footer-center border-t border-base-300 bg-base-100 print:hidden"
>
  <aside class="my-8">
    <p>Copyright &copy; <%= new Date().getFullYear() %> Grzegorz Ciołek</p>
    <p class="font-light">
      This website is distributed under the
      <a class="text-primary link link-primary no-underline" href="/licence"
        >MIT Licence</a
      >.
    </p>
    <p class="font-light">
      Third-party works are distributed under
      <a
        class="text-primary link link-primary no-underline"
        href="/licence-third-party"
        >various licences</a
      >.
    </p>
  </aside>
</footer>
