<footer class="border-t text-sm px-8 print:hidden print:size-0">
  <div class="mx-auto max-w-2xl font-light">
    <div class="justify-center font-normal w-fit mx-auto mt-4">
      Copyright &copy; 2024 Grzegorz Ciołek
    </div>
    <div class="justify-center w-fit mx-auto mb-4">
      This website is distributed under the
      <a href="/licence">MIT Licence</a>.
    </div>
    <div class="justify-center w-fit mx-auto my-4">
      Licences for third-party works can be found
      <a href="/licence-third-party">here</a>.
    </div>
  </div>
</footer>
