<header
  class="w-full py-4 shadow-md my-0 text-center flex flex-row items-center md:px-8"
>
  <div class="mx-auto md:ml-0">
    <span
      class="text-4xl font-bold align-middle text-center md:text-left print:pl-0"
    >
      Grzegorz Ciołek
    </span>
  </div>
  <div class="align-middle hidden md:block">
    <span class="text-right text-lg text-gray-500">ciolek.co.uk</span>
  </div>
</header>
