<nav
  class="pt-2 pr-4 md:pt-8 min-w-48 border-base-300 border-b md:border-b-0 md:border-r print:hidden"
>
  <ul class="menu menu-md">
    <li>
      <h2 class="menu-title">Navigation</h2>
      <ul>
        <%- include("navLink", {href: "/", display: "Home"}) -%> <%-
        include("navLink", {href: "/contact/", display: "Contact"}) -%> <%-
        include("navLink", {href: "/articles/", display: "Articles"}) -%> <%-
        include("navLink", {href: "/projects/", display: "Projects"}) -%>
      </ul>
    </li>
    <li>
      <h3 class="menu-title">External</h3>
      <ul>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/Grzegorzorzorz"
            >GitHub</a
          >
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.linkedin.com/in/gciolek/"
            >LinkedIn</a
          >
        </li>
      </ul>
    </li>
  </ul>
</nav>
