<nav>
  <h1>Navigation</h1>
  <ul class="list-none list-outside indent-0 md:indent-2">
    <li><a href="/">Home</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/articles/">Articles</a></li>
    <li><a href="/projects/">Projects</a></li>
  </ul>
  <h2>External</h2>
  <ul class="list-none list-outside indent-0 md:indent-2">
    <li><a href="https://github.com/Grzegorzorzorz">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/gciolek/">LinkedIn</a></li>
  </ul>
</nav>
