<nav>
	<h2>Navigation</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/articles/">Articles</a></li>
		<li><a href="/projects/">Projects</a></li>
  </ul>
  <h3>External</h3>
  <ul>
		<li><a href="https://github.com/Grzegorzorzorz">GitHub</a></li>
		<li><a href="https://www.linkedin.com/in/gciolek/">LinkedIn</a></li>
  </ul>
</nav>
