<% locals.class = ""; if (url.slice(0, href.length) == href) { locals.class =
"active" } if (href == "/" && url.length > 1) { locals.class = ""; } %>

<li><a class="<%- locals.class %>" href="<%- href %>"><%= display %></a></li>
