main {
  display: flex;
}

li {
  font-size: 13pt;
}

p {
  font-size: 13pt;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  min-width: 30ch;
  max-width: 100%;
}

nav {
  width: 10%;
  min-width: 20ch;
  padding-right: 3ch;
  overflow: clip;
}

article {
  width: 80ch;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

table {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

th,
td {
  padding: 1ch;
}
