<!doctype html>
<html lang="en">
  <head>
    <title>Grzegorz Ciołek</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>Grzegorz Ciołek</h1>
    </header>
    <main>
      <nav>
        <h2>Navigation</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/articles/">Articles</a></li>
        </ul>
        <h3>External</h3>
        <ul>
          <li><a href="https://github.com/Grzegorzorzorz">GitHub</a></li>
        </ul>
      </nav>
      <article></article>
    </main>
  </body>
</html>
