@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/resources/fonts/Lato-Black.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/resources/fonts/Lato-BlackItalic.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/resources/fonts/Lato-Bold.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/resources/fonts/Lato-BoldItalic.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/resources/fonts/Lato-Regular.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/resources/fonts/Lato-Italic.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/resources/fonts/Lato-Light.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/resources/fonts/Lato-LightItalic.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/resources/fonts/Lato-Thin.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/resources/fonts/Lato-ThinItalic.ttf");
  }

  html {
    @apply scroll-pt-16;
  }

  body {
    @apply font-sans;
  }

  main {
    @apply flex flex-1 flex-col z-0 border-0 p-0 m-0 bg-gray-100 overflow-clip;
    @apply md:flex-row md:justify-start;
    @apply print:flex-none print:overflow-clip;
  }

  article {
    @apply bg-gray-50 mx-auto px-8 w-full max-w-3xl min-h-screen pb-20;
    @apply md:mx-0 md:border-x;
    @apply print:p-0 print:mx-0;
  }

  h1 {
    @apply text-3xl font-bold my-4;
  }

  h1 a {
    @apply text-3xl font-bold my-4 text-black;
  }

  h2 {
    @apply text-2xl font-bold my-4;
  }

  h2 a {
    @apply text-2xl font-bold my-4 text-black;
    @apply hover:no-underline;
  }

  h3 {
    @apply text-xl font-bold my-4;
  }

  h3 a {
    @apply text-xl font-bold my-4 text-black;
    @apply hover:no-underline;
  }

  p {
    @apply my-4;
  }

  a {
    @apply text-blue-500;
    @apply hover:underline;
  }

  ul {
    @apply list-disc list-inside indent-2;
  }

  table {
    @apply border p-1;
    th,
    td {
      @apply border py-2 px-6;
    }
  }

  figcaption {
    @apply justify-center text-center text-gray-600 mx-auto italic text-sm;
  }

  pre {
    @apply p-4 border rounded-md overflow-x-auto w-11/12 mx-auto;
    @apply bg-gray-800 text-white;
    @apply print:text-sm;
  }
}
