@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/resources/fonts/Lato-Black.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/resources/fonts/Lato-BlackItalic.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/resources/fonts/Lato-Bold.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/resources/fonts/Lato-BoldItalic.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/resources/fonts/Lato-Regular.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/resources/fonts/Lato-Italic.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/resources/fonts/Lato-Light.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/resources/fonts/Lato-LightItalic.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/resources/fonts/Lato-Thin.ttf");
  }

  @font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/resources/fonts/Lato-ThinItalic.ttf");
  }

  ::selection {
    @apply text-accent-content bg-accent;
  }

  html {
    @apply scroll-pt-20;
  }

  article {
    @apply pb-16;
    @apply prose bg-base-100 px-8 max-w-4xl w-full;
    @apply print:max-w-max print:border-0 print:min-h-fit print:pb-0;
  }

  .prose a {
    @apply link link-primary;
    @apply no-underline;
  }

  h2 a {
    all: inherit;
    @apply cursor-pointer hover:text-base-content;
  }

  h3 a {
    all: inherit;
    @apply cursor-pointer hover:text-base-content;
  }

  h4 a {
    all: inherit;
    @apply cursor-pointer hover:text-base-content;
  }
}
